
/*#hand {*/
    /*height: 144px;*/
    /*width: 304px;*/
    /*display: block;*/
    /*margin-top: 556px;*/
    /*margin-left: 596px;*/
    /*z-index: 2;*/
    /*position: absolute;*/
    /*background-size: cover;*/
    /*background-image: url("https://banner2.kisspng.com/20180529/txs/kisspng-thumb-gift-card-hand-hand-holding-flower-5b0cd791eed475.5204294815275682739783.jpg");*/
/*}*/
body{
    /*touch-action: none;*/
}
#ninjaGame {
    position: fixed;
    display: block;
    height: 700px;
    width: 1200px;
    background-size: cover;
    background-image: url("https://cdn2.f-cdn.com/contestentries/71989/10703005/534d34c6e0817_thumb900.jpg");
    /*touch-action: none;*/
}

#shuriken {
    display: block;
    height: 300px;
    width: 300px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-image: url("https://fidgetcircle.com/img/products/zed-ninja-shuriken-0dc23459.png");
    /*touch-action: none;*/
}

shell-app{
    position: absolute;
    height: 500px;
    width: 500px;
    transition: 0s;
    touch-action: none;
}

game-info {
    height: 700px;
    width: 1200px;
    background-image: url("../pictures/ninja.png");
    background-size: cover;
    display: none;
    position: absolute;
}

