/*#playfield {*/
    /*height: 500px;*/
    /*width: 500px;*/
    /*background-color: #230f29;*/
    /*display: block;*/
/*}*/


.triangle {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 50%;
    transform-origin: center bottom;
    overflow: hidden;
}
.circle {
    height: 100%;
    width: 100%;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    transform-origin: center bottom;
    transform: rotate(90deg);
}

body{
    background-color: #86dfff;
}

#colorPicker {
    position: absolute;
    /*display: block;*/
    border: 2px solid red;
    background-color: green;
    overflow: hidden;
    height: 100px;
    margin-top: 300px;
    margin-left: 300px;
    width: 100px;
}
color-picker{
    display: block;
    height: 100px;
    width: 100px;
    background-color: red;

}
#main{
    height: 500px;
    width: 500px;
    position: absolute;
    background-color: darkkhaki;
    display: block;
}
shell-app{
    position: absolute;
    transition: 0s;
}