
body {
    margin: 0px;
}

shell-app {
    position: fixed;
    display: block;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url("../pictures/background.png");
    touch-action: none;
}

game-shurikien {
    position: absolute;
    height: 600px;
    width: 600px;
    overflow: hidden;
    display: block;
    z-index: 2;
    background-size: cover;
    background-image: url("https://fidgetcircle.com/img/products/zed-ninja-shuriken-0dc23459.png");
}

game-info {
    height: 938px;
    margin: 10px;
    width: 951px;
    z-index: 2;
    background-image: url("../pictures/ninja.png");
    background-size: cover;
    display: none;
    position: absolute;
}

game-target {
    position: absolute;
    height: 470px;
    width: 400px;
    background-image: url("../pictures/target.png");
    background-size: cover;
    display: block;
}

game-panel {
    color: white;
    font-size: 3vh;
    margin-top: 5px;
}

#throws {
    left: 10px;
}

#scores {
    right: 10px;
}

h3 {
    position: absolute;
    margin: 0px;
}
